 *{
	margin: 0;
	list-style-type: none;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
}

header{
	min-height: 100vh;
	width: 100%;
	background-image: url(roads.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
text-decoration: none;
	text-align: center;
	display: flex;
	padding-top: 25px;

}
nav ul{
	text-decoration: none;
	text-align: center;
	display: flex;
	list-style: none;
}



nav ul li{
	
	margin-left: 45px;
}
nav ul li a{
text-decoration: none;
list-style: none;
text-align: center;
padding: 5px;
display: flex;	
justify-content: space-between;	
color: white;
	margin-right: 20px;
	font-weight: bold;

	
}
.logo{
	margin-left: 10px;
	color: white;
}

.ctn{
	padding: 8px 15px;
	background-color: blueviolet;
	border-radius: 30px;
	color: whitesmoke;
}
.ctn:hover{
background-color: chartreuse;
	transition:0.5s;
	color: cornflowerblue;	
	
}

.ov{
	color: blueviolet;
	text-decoration: underline blueviolet;
	font-weight: bold;
	
}


.nav2{
	margin-left: 95px;
	color: white;
	margin-top: 200px;
}
h1{
	font-size: 55px;
margin-top: 95px;
	
}
p{
	margin-top: 45px;
	
}
.top{
float: right;
height: 350px;
border-radius: 50px;	
}
.top1{
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
}
.top2{
	float: left;
	height: 180px;
}
h2{
	color: blueviolet;
	margin-top: 25px;
	margin-left: 25px;
}
.top2{
	font-family: sans-serif;
	font-size: 30px;
	margin-top: 200px;
	margin-left: 200px;
}
span{
	color: rgb(128, 73, 0);
	font-weight: bold;
}


.items{
	display: inline-flex;
	justify-content: space-between;
}
.item img{
width: 80%;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
	padding-top: 25px;
}
.items img:hover{
	transform: scale(1.04);
}
.items h4{
	padding: 5px;
	text-align: center;
	color: blueviolet;
	margin-right: 25px;
}

.item1{
	margin-left: 10px;
}


footer{
	height:200px;
	width: 100%;
}
.footer{
	height: 200px;
	width: 100%;
	background-color: brown;
	margin-bottom: 300px;
}
.nav{
	list-style: none;
	margin-left: 100px;
	color: black;
	display: inline-flex;
}
.nav ul li a{
	color: black;
	font-weight: bold;
}
.ALL{
	margin-left: 600PX;
	margin-top: 50PX;
	font-weight: bold;
	color: white;
}
.Colorful{
	color: chocolate;
}
.go{
	margin-top:25px;
	margin-left: 25px;
	font-weight: bold;
	color: white;
}
